/* Write some CSS below */
/* style.css */
html {
    display: block;
    height: 100vh;
}

body {
    font-family: Overpass;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0b0b0b;
}

h1, h2, h3 {
  color: #e0e0e0;
  font-family: Chivo;
}

p {
  color: #e0e0e0;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}
a:hover {
  text-decoration: underline;
  color: rgb(16, 164, 228);
}
.current-page {
  color: rgb(16, 164, 228);
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(85, 84, 84);
    border-radius: 5px;
}
.banner h1 {
  color: rgb(16, 164, 228);
  font-size: 20px;
  margin-bottom: 20px
}
.banner h2 {
  color: #e0e0e0;
  font-size: 18px;
}
.banner p {
  color: #e0e0e0;
  font-size: 14px;
}
/* .banner a {
  color: #e0e0e0;
} */

#left_banner {
  text-align: left;
  margin-left: 21vw;
}
#right_banner {
  text-align: right;
  margin-right: 21vw;
}

.container {
    margin: auto;
    margin-top: 2px;
    margin-left: 25vw;
    margin-right: 20vw;
}

.name {
  font-size: 2.2rem;
  margin-bottom: -0.9rem;
  margin-top: 0;
}
.great {
  margin-bottom: 0.3rem;
}
/* 
.container h3 {
  text-align: center;
} */
.footer {
    text-align: center;
    /* margin: 0;  */
    padding: 24px 0;
    border-top: 1px solid rgb(85, 84, 84);
    border-radius: 5px;
    /* display: grid;
      grid-template-columns: 5fr 3fr;
      grid-gap: 10px; */
}
.footer p {
  color: #e0e0e0;
  font-size: 16px;
}

#text_footer {
  text-align: center;
  margin-left: 21vw;
  margin-right: 21vw;
}
#left_footer {
  text-align: left;
  margin-left: 21vw;
}
#right_footer {
  text-align: right;
  margin-right: 21vw;
}
.table {
  margin: auto;
}
.text {
  width: 70%; /* Largura da coluna 'Nome' */
}
.info {
  width: 30%; /* Largura da coluna 'Email' */
}